@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);

body {
    background-color: rgb(17, 17, 17);
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

.milk-text {
    font: bold 2.6em 'Elsie Swash Caps', cursive;
    color: white;
    text-shadow: 0 2px 3px #000;
}

.shadow {
    box-shadow: 0 3px 10px #333;
}

.border-right {
    border-right: 1px dotted #ccc;
    padding-right: 30px;
}


  
.container {
    background: #fff;
    margin: 26px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    /* width: 70%; */
  }