<div id='entries' class='container'>
    <div class='row'>
        <div tabindex="0" class='col entry mx-auto'><a class="blank">Blank</a></div>
    </div>
    <div class='row'>
        <a><div tabindex="0" class='col entry'>1</div></a>
        <a><div tabindex="0" class='col entry'>2</div></a>
        <a><div tabindex="0" class='col entry'>3</div></a>
    </div>
    <div class='row'>
        <a><div tabindex="0" class='col entry'>4</div></a>
        <a><div tabindex="0" class='col entry'>5</div></a>
        <a><div tabindex="0" class='col entry'>6</div></a>
    </div>
    <div class='row'>
        <a><div tabindex="0" class='col entry'>7</div></a>
        <a><div tabindex="0" class='col entry'>8</div></a>
        <a><div tabindex="0" class='col entry'>9</div></a>
    </div>
</div>

<!--table class='entry'>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td>4</td>
        <td>5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>7</td>
        <td>8</td>
        <td>9</td>
    </tr>
</table-->