<div class='container entry'>
    <div class='row'>
        <div class='col'>1</div>
        <div class='col'>2</div>
        <div class='col'>3</div>
    </div>
    <div class='row'>
        <div class='col'>4</div>
        <div class='col'>5</div>
        <div class='col'>6</div>
    </div>
    <div class='row'>
        <div class='col'>7</div>
        <div class='col'>8</div>
        <div class='col'>9</div>
    </div>
</div>

<!--table class='entry'>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td>4</td>
        <td>5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>7</td>
        <td>8</td>
        <td>9</td>
    </tr>
</table-->