<table data-id="<%=sudoku.id%>" class="outer" border="12" cellpadding="0">
	<tr>
		<td data-x="0" data-y="0">
			<table class="inner" border="1" cellpadding="30">
				<tr>
					<td data-toggle="popover" data-x="0" data-y="0"></td>
					<td data-toggle="popover" data-x="0" data-y="1"></td>
					<td data-toggle="popover" data-x="0" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="1" data-y="0"></td>
					<td data-toggle="popover" data-x="1" data-y="1"></td>
					<td data-toggle="popover" data-x="1" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="2" data-y="0"></td>
					<td data-toggle="popover" data-x="2" data-y="1"></td>
					<td data-toggle="popover" data-x="2" data-y="2"></td>
				</tr>
			</table>
		</td>
		<td data-x="0" data-y="1">
			<table class="inner" border="1" cellpadding="30">
				<tr>
					<td data-toggle="popover" data-x="0" data-y="0"></td>
					<td data-toggle="popover" data-x="0" data-y="1"></td>
					<td data-toggle="popover" data-x="0" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="1" data-y="0"></td>
					<td data-toggle="popover" data-x="1" data-y="1"></td>
					<td data-toggle="popover" data-x="1" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="2" data-y="0"></td>
					<td data-toggle="popover" data-x="2" data-y="1"></td>
					<td data-toggle="popover" data-x="2" data-y="2"></td>
				</tr>
			</table>
		</td>
		<td data-x="0" data-y="2">
			<table class="inner" border="1" cellpadding="30">
				<tr>
					<td data-toggle="popover" data-x="0" data-y="0"></td>
					<td data-toggle="popover" data-x="0" data-y="1"></td>
					<td data-toggle="popover" data-x="0" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="1" data-y="0"></td>
					<td data-toggle="popover" data-x="1" data-y="1"></td>
					<td data-toggle="popover" data-x="1" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="2" data-y="0"></td>
					<td data-toggle="popover" data-x="2" data-y="1"></td>
					<td data-toggle="popover" data-x="2" data-y="2"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td data-x="1" data-y="0">
			<table class="inner" border="1" cellpadding="30">
				<tr>
					<td data-toggle="popover" data-x="0" data-y="0"></td>
					<td data-toggle="popover" data-x="0" data-y="1"></td>
					<td data-toggle="popover" data-x="0" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="1" data-y="0"></td>
					<td data-toggle="popover" data-x="1" data-y="1"></td>
					<td data-toggle="popover" data-x="1" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="2" data-y="0"></td>
					<td data-toggle="popover" data-x="2" data-y="1"></td>
					<td data-toggle="popover" data-x="2" data-y="2"></td>
				</tr>
			</table>
		</td>
		<td data-x="1" data-y="1">
			<table class="inner" border="1" cellpadding="30">
				<tr>
					<td data-toggle="popover" data-x="0" data-y="0"></td>
					<td data-toggle="popover" data-x="0" data-y="1"></td>
					<td data-toggle="popover" data-x="0" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="1" data-y="0"></td>
					<td data-toggle="popover" data-x="1" data-y="1"></td>
					<td data-toggle="popover" data-x="1" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="2" data-y="0"></td>
					<td data-toggle="popover" data-x="2" data-y="1"></td>
					<td data-toggle="popover" data-x="2" data-y="2"></td>
				</tr>
			</table>
		</td>
		<td data-x="1" data-y="2">
			<table class="inner" border="1" cellpadding="30">
				<tr>
					<td data-toggle="popover" data-x="0" data-y="0"></td>
					<td data-toggle="popover" data-x="0" data-y="1"></td>
					<td data-toggle="popover" data-x="0" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="1" data-y="0"></td>
					<td data-toggle="popover" data-x="1" data-y="1"></td>
					<td data-toggle="popover" data-x="1" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="2" data-y="0"></td>
					<td data-toggle="popover" data-x="2" data-y="1"></td>
					<td data-toggle="popover" data-x="2" data-y="2"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td data-x="2" data-y="0">
			<table class="inner" border="1" cellpadding="30">
				<tr>
					<td data-toggle="popover" data-x="0" data-y="0"></td>
					<td data-toggle="popover" data-x="0" data-y="1"></td>
					<td data-toggle="popover" data-x="0" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="1" data-y="0"></td>
					<td data-toggle="popover" data-x="1" data-y="1"></td>
					<td data-toggle="popover" data-x="1" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="2" data-y="0"></td>
					<td data-toggle="popover" data-x="2" data-y="1"></td>
					<td data-toggle="popover" data-x="2" data-y="2"></td>
				</tr>
			</table>
		</td>
		<td data-x="2" data-y="1">
			<table class="inner" border="1" cellpadding="30">
				<tr>
					<td data-toggle="popover" data-x="0" data-y="0"></td>
					<td data-toggle="popover" data-x="0" data-y="1"></td>
					<td data-toggle="popover" data-x="0" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="1" data-y="0"></td>
					<td data-toggle="popover" data-x="1" data-y="1"></td>
					<td data-toggle="popover" data-x="1" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="2" data-y="0"></td>
					<td data-toggle="popover" data-x="2" data-y="1"></td>
					<td data-toggle="popover" data-x="2" data-y="2"></td>
				</tr>
			</table>
		</td>
		<td data-x="2" data-y="2">
			<table class="inner" border="1" cellpadding="30">
				<tr>
					<td data-toggle="popover" data-x="0" data-y="0"></td>
					<td data-toggle="popover" data-x="0" data-y="1"></td>
					<td data-toggle="popover" data-x="0" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="1" data-y="0"></td>
					<td data-toggle="popover" data-x="1" data-y="1"></td>
					<td data-toggle="popover" data-x="1" data-y="2"></td>
				</tr>
				<tr>
					<td data-toggle="popover" data-x="2" data-y="0"></td>
					<td data-toggle="popover" data-x="2" data-y="1"></td>
					<td data-toggle="popover" data-x="2" data-y="2"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<%= erb '/sudoku/entry'.to_sym %>