<table data-id="<%= sudoku.id %>" class="outer mx-auto" border="12" cellpadding=0"">
	<% 3.times do |i| %>
		<tr>
			<% 3.times do |j|
				blocValue = (3*i + j) %>
				<%= erb :'sudoku/bloc', :locals => {:bloc => sudoku.boxes.select{|c| c.bloc==blocValue }, :blocId => blocValue} %>
			<% end %>
		</tr>
	<% end %>
</table>

<%= erb '/sudoku/entry'.to_sym %>