
<!--h1 class="milk-text">Welcome to the Sudoku Game</h1-->

	<div class="container pad-top-20">
		<div class="row">
			<div class="menu nav flex-column">
				<a class="nav-link btn btn-md btn-primary" id="new" href="/sudoku/new">New Game</a>
				<a class="nav-link btn btn-md btn-primary" id="clear" href="/sudoku/clear">Clear History</a>
				<!--a href="#" class="nav-link btn btn-primary" id="previous">Show Previous Games</a-->
			</div>
			<div class="wrapper shadow"> <!-- .container -->
				<% if @userGames.empty? %>
					<div><%= erb :'sudoku/instructions' %></div>
				<% else %>
					<div class="pop-hide"><a href="/sudoku/<%= @userGames.first.id %>"><%= erb :'sudoku/grid', :locals => {:sudoku => @userGames.first} %></a></div>
				<% end %>

				<div id="games" class="mx-auto">
					<% @userGames.each do |game| %>
						<a class="btn btn-sm" href="#"><%= game.id %></a>
					<% end %>
				</div>

				<div id="message"></div>
			</div>
		</div>
	</div>


<!-- script src="js/sudokuGames.js"></script -->
    
    <!--script>
      $(function () {
        $('[data-toggle="popover"]').popover({
			container: 'body'
		});
      });
    </script-->