
<!--h1 class="milk-text">Welcome to the Sudoku Game</h1-->

<div class="container pad-top-20">
    <div class="row">
        <div class="menu nav flex-column">
            <a class="nav-link btn btn-lg btn-primary" id="renew" href="/sudoku/restart">Restart Game</a>
            <a class="nav-link btn btn-lg btn-primary" id="delete" href="#">Delete Game</a>
            <!--a class="nav-link btn btn-lg btn-primary" id="clear" href="#">Clear Current Game</a-->
        </div>
        <div class="wrapper shadow">
            <%= erb :'sudoku/grid', :locals => {:sudoku => @sudoku} %>


            <div id="games"></div>

            <div id="message"></div>
        </div>
    </div>
</div>



