<div class="container bck-white mx-auto">
  <h1>New Account</h1>

  <form action="/signup" method="post">
    <p class="text-justify">Username: <input type="text" name="user[name]" id="usernameS"></p>
    <p class="text-justify">Email: <input type="email" name="user[email]" id="emailS"></p>
    <p class="text-justify">Password: <input type="password" name="user[password]" id="passwordS"></p>
    <p class="text-justify"><input type="submit" id="submitS" value="Create"></p>
  </form>
</div>