<div class="container bck-white">
  <h1>Sign In</h1>

  <form action="/login" method="post">
    <p class="text-justify">Username: <input type="text" name="user[name]" id="usernameL"></p>
    <p class="text-justify">Password: <input type="password" name="user[password]" id="passwordL"></p>
    <p class="text-justify"><input type="submit" id="submitL" value="Log In"></p>
  </form>
</div>