<h1>Sign In</h1>

<form action="/login" method="post">
  <p>Username: <input type="text" name="user[name]" id="usernameL"></p>
  <p>Password: <input type="password" name="user[password]" id="passwordL"></p>
  <input type="submit" id="submitL" value="Log In">
</form>