
<!--h1 class="milk-text">Welcome to the Sudoku Game</h1-->

<div class="container shadow">
    <div class="row">
        <div class="col">
            <%= erb 'users/create'.to_sym %>
        </div>
        <div class="col border-right">
            <%= erb 'users/login'.to_sym %>
        </div>
    </div>
</div>
